# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtualenv
.venv/
env/
venv/

# Django
db.sqlite3
staticfiles/
media/

# IDEs
.vscode/
.idea/
*.swp

# Env
.env
.env.*
