name: ci-django

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-and-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install black isort flake8

      - name: Black (check)
        run: black --check backend

      - name: isort (check)
        run: isort --profile black --check-only backend

      - name: Flake8
        run: flake8 backend

      - name: Django system check
        run: python backend/manage.py check

      - name: Migrate (SQLite fallback)
        run: python backend/manage.py migrate --noinput

      # EJECUTAR TESTS
      - name: Run Django tests
        run: python backend/manage.py test --noinput -v 2

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build (no push)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
